.topBar {
  top: 0;
  width: 80%;
  position: fixed;
  background-color: #ffffff;
  z-index: 100;
}

.profileBar {
  padding: 12px 40px;
  display: flex;
  justify-content: space-between;
  opacity: 1;
}

.profileNav .profileBox {
  margin-bottom: 5px;
}

.profileNav .profile-icons {
  padding: 5px;
}

.profileNav .count {
  color: #ffffff;
  background-color: red;
  padding: 0 5px;
}

.profileBar .nav-search {
  /* background-color: #FAFAFC; */
}

.mainNavigation {
  padding: 20px 40px;
}

.mainNavigation .nav-link {
  margin: 0 20px 0 0;
  color: #696D8C;
  font-weight: 400;
  font-size: 16px;
}

.analyticsBar {
 display: flex;
 justify-content: space-between;
 align-items: center;
 padding: 12px 40px;
}

.analyticsBar .select-button {
  font-weight: bold;
  font-size: 400;
  color: #000000;
  margin: 8px;
  padding: 15px 10px;
  border: 1px solid #E1E1EB;
  box-shadow: none;
}

.analyticsBar .button {
  font-weight: bold;
  font-size: 400;
  color: #ffffff;
  /* margin: 8px; */
  padding: 15px;
  border: 1px solid #E1E1EB;
  box-shadow: none;
  /* text-align:center; */
}