.nav {
  flex: 1;
  position: fixed;
  padding: 0 1.5rem;
  border-right: 1px solid #ECEBF5;
  height: 100%;
}

.nav__logo {
  border: 1px solid #efefef;
  padding: 10px 20px;
  margin: 10px auto;
}

.nav__navigation .nav-menu-item {
  display: flex;
}

.nav__navigation .nav-menu-item > .icon, .item-name {
  padding: 1rem 0.5rem;
  box-sizing: border-box;
}

.nav__navigation .nav-menu-item > .site-map {
  padding: 1rem 0.5rem;
  margin-left: 2rem;
  box-sizing: border-box;
}